NEXTCLOUD_FQDN=nextcloud.local
NEXTCLOUD_UNAME=admin
NEXTCLOUD_PWD=chanegeme_like_a_strong_password
TIME_ZONE=Asia/India
COLLABORA_FQDN=collabora.local
COLLABORA_UNAME=admin
COLLABORA_PWD=changeme_like_a_guid
SIGNAL_FQDN=signal.local
TURN_SECRET=changeme_like_a_guid
SIGNALING_SECRET=changeme_like_a_guid
INTERNAL_SECRET=changeme_like_a_guid
SKIP_CERT_VERIFY=true
ENABLE_EXTERNAL_STORAGE=true
EXTERNAL_STORAGE_PATH=./img